<!DOCTYPE html>
<html data-ng-app='app'>
<head>

	<meta charset="utf-8">
	<title>Practica</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

	<script type="text/javascript" src='angular.js'></script>

	<script type="text/javascript" src='app.js'></script>
	<script type="text/javascript" src='appService.js'></script>
	<script type="text/javascript" src='appController.js'></script>


</head>
<body data-ng-controller='mainCtrl'>

<div class="container">

	<div class="row">
		<div class="col-md-4 col-xs-4">

			<div class="form-group">
				<label for='nombre'>Nombre</label>
				<input id='nombre' class='form-control' type="text" name="nombre" placeholder="nombre" data-ng-model='nombre'/> <br>
			</div>
			
		</div>
	</div>
	

	<label>Edad</label>
	<input type="text" name="edad" placeholder="edad" data-ng-model='edad'/> <br>

	<button type="button" data-ng-click="agregar()">Agregar</button>

	<div data-ng-repeat='usuario in usuarios'>
		<h3>
			<strong>{{ usuario.nombre }}</strong>
			<i>{{ usuario.edad }}</i>
		</h3>
	</div>
	

	
</div>


</body>
</html>