<!DOCTYPE html>
<html data-ng-app='app'>
<head>

	<meta charset="utf-8">
	<title>Practica</title>
	<script type="text/javascript" src='angular.js'></script>

	<script type="text/javascript" src='app.js'></script>
	<script type="text/javascript" src='appService.js'></script>
	<script type="text/javascript" src='appController.js'></script>


</head>
<body data-ng-controller='mainCtrl'>

	<h1>
		{{titulo}}
	</h1>

	<input type="text" name="titulo" ng-model='titulo'/>

	<button type="button" data-ng-click='limpiar()'>Boton</button>

	<div data-ng-repeat='usuario in usuarios'>
		<h3>
			<strong>{{ usuario.username }}</strong>
			<i>{{ usuario.password }}</i>
		</h3>
	</div>


</body>
</html>